@font-face {
  font-family: 'redeculturaviva2';
  src: url('../font/redeculturaviva2.eot?36890148');
  src: url('../font/redeculturaviva2.eot?36890148#iefix') format('embedded-opentype'),
       url('../font/redeculturaviva2.woff?36890148') format('woff'),
       url('../font/redeculturaviva2.ttf?36890148') format('truetype'),
       url('../font/redeculturaviva2.svg?36890148#redeculturaviva2') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'redeculturaviva2';
    src: url('../font/redeculturaviva2.svg?36890148#redeculturaviva2') format('svg');
  }
}
*/
 
 [class^="icon2-"]:before, [class*=" icon2-"]:before {
  font-family: "redeculturaviva2";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon2-right-open:before { content: '\e800'; } /* '' */
.icon2-left-open:before { content: '\e801'; } /* '' */
.icon2-diaspora-asterisk:before { content: '\e802'; } /* '' */
.icon2-instagram:before { content: '\e803'; } /* '' */
.icon2-youtube:before { content: '\e804'; } /* '' */
.icon2-cdbr:before { content: '\e805'; } /* '' */