@CHARSET "UTF-8";

.site-footer-html *,
.site-footer-html *::before,
.site-footer-html *::after {
    box-sizing: inherit;
}

.site-footer-html  {
	box-sizing: border-box;
}

.site-footer-html ,
.site-footer-html button,
.site-footer-html input,
.site-footer-html select,
.site-footer-html textarea {
	color: #404040;
	font-family: DroidSans;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
}

.site-footer-html .site-info {
	min-height: 50px;
    padding: 20px 0;
    width: 100%;
    background: #f7931e none repeat scroll 0 0;
    color: #fff;
}

.site-footer-html .site-padding {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960px;
    position: relative;
    overflow: hidden;
}

.site-footer-html .footer-proudly,
.site-footer-html .footer-proudly a {
	text-align: center;
	color: #ffffff;
	display: none;
}
.site-footer-html #footer-sidebar {
	display: block;
	float: left;
	background-color: #078979;
	position: relative;
	overflow: hidden;
	color: #fff;	
	padding: 1em;
	width: 100%;
}

.site-footer-html #footer-sidebar .widget {
    border: none;
    float: left;
    font-size: 0.8em;
    height: 190px;
    margin: 1em 0;
    padding: 0;
    text-align: center;
}

.site-footer-html #footer-sidebar aside {
	width: 25%;
}

.site-footer-html #footer-sidebar aside:nth-child(n+3) {
	width: 49%;
	height: auto;
}

.site-footer-html #footer-sidebar .widget-title {
	color: #fbed1d;
	font-size: 1.5em;
	text-align: left;
	margin-top: 0;
}

.site-footer-html #footer-sidebar ul {
	padding: 0;
	margin: 0;
}

.site-footer-html #footer-sidebar ul.menu li,
.site-footer-html #footer-sidebar ul li {
	list-style: none;
	text-align: left;
	display: block;
	margin: 0;
	padding: 0.5em 0 0 0.5em;
	box-shadow: none;
	float: none;
	border: none;
}

.site-footer-html #footer-sidebar ul.menu li a {
	text-decoration: none;
	color: #fff;
	font-size: 1em;
	font-weight: normal;
	text-align: left;
	line-height: 1.5;
	
}

.site-footer-html #footer-sidebar ul.menu li a:hover {
	color: #404040;
}

.site-footer-html .site-footer img {
    height: auto;
}

.site-footer-html h2 {
	clear: both;
    font-family: DroidSans;
    line-height: 1.5;
    font-weight: bold;
    margin: 0 0 0.5em 0;
    
}

.site-footer-html #barra-brasil {
	display: none !important;
}

#main-footer {
    background-color: #078979;
}

.site-footer-html .widget_social_widget {
    list-style-type: none;
    margin: 0;
}

.site-footer-html .widget_social_widget {
    float: left;
    padding: 1em;
    width: 50%;
}

.site-footer-html .widget_social_widget a,
.site-footer-html .widget_social_widget a::before {
    color: #fff;
}

.site-footer-html .widget_social_widget a.social-diaspora {
    background: #363436 none repeat scroll 0 0;
}

.site-footer-html .widget_social_widget a.social-cdbr {
    background: #2771A5 none repeat scroll 0 0;
}

.site-footer-html .widget_social_widget a.social-instagram {
    background: #125688 none repeat scroll 0 0;
}

.site-footer-html .widget_social_widget a.social-twitter {
    background: #019ad2 none repeat scroll 0 0;
}

.site-footer-html .widget_social_widget a.social-facebook {
    background: #3b5999 none repeat scroll 0 0;
}

.site-footer-html .widget_social_widget a.social-googleplus {
    background: #cf3e2d none repeat scroll 0 0;
}

.site-footer-html .widget_social_widget a.social-youtube {
    background: #d7002e none repeat scroll 0 0;
}

.site-footer-html .widget_social_widget .assistive-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.site-footer-html .widget_social_widget a {
    border-radius: 25px;
    font-size: 1.1em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    padding: 1.25em 0.75em 0.5em;
}

.site-footer-html .widget_social_widget a.icon2,
.site-footer-html .widget_social_widget a.icon2 {
    padding: 1em 0.75em 0.75em;
}

.site-footer-html #footer-sidebar .widget_social_widget ul.social-list li {
	display: inline-block;
    float: left;
    margin-right: 0.25em;
    width: auto;
}

.site-footer-html .widget_social_widget a:hover {
    color: #f9f7f2;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
}

.site-footer-html .widget_social_widget [class^="icon1-"]::before,
.site-footer-html .widget_social_widget [class^="icon1-"]::before,
.site-footer-html .widget_social_widget [class^="icon2-"]::before,
.site-footer-html .widget_social_widget [class*=" icon2-"]::before {
    font-size: 1.5em;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1;
    text-transform: none !important;
    margin: 0;
    width: auto;
}

footer.site-footer {
	background-color: #078979;
}

@media screen and (max-width: 800px) {
	
	.site-footer-html #footer-sidebar .widget {
	    height: auto;
	}
	
}

@media screen and (max-width: 620px) {
	
	.site-footer-html #footer-sidebar .widget {
	    height: auto;
	}
	
	.site-footer-html #footer-sidebar aside {
		width: 50%;
	}
	
}

@media screen and (max-width: 480px) {
	
	.site-footer-html #footer-sidebar .widget {
	    height: auto;
	}
	
	.site-footer-html #footer-sidebar aside:nth-child(1) {
		width: 50%;
	}
	
	.site-footer-html #footer-sidebar aside:nth-child(2),
	.site-footer-html #footer-sidebar aside:nth-child(3) {
		width: 50%;
	}
	.site-footer-html #footer-sidebar aside:nth-child(4) {
		width: 50%;
	}
	
	.site-footer-html #footer-sidebar aside:nth-child(4) img {
		width: 100%;
	}
	
}