@CHARSET "UTF-8";

.site-footer-html *,
.site-footer-html *::before,
.site-footer-html *::after {
    box-sizing: inherit;
}

html.site-footer-html  {
	box-sizing: border-box;
}

.site-footer-html body,
.site-footer-html button,
.site-footer-html input,
.site-footer-html select,
.site-footer-html textarea {
	color: #404040;
	font-family: DroidSans;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
}

.site-footer-html .site-info {
	min-height: 50px;
    padding: 20px 0;
    width: 100%;
    background: #f7931e none repeat scroll 0 0;
    color: #fff;
}

.site-footer-html .site-padding {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960px;
    position: relative;
    overflow: hidden;
}

.site-footer-html .footer-proudly,
.site-footer-html .footer-proudly a {
	text-align: center;
	color: #ffffff;
	display: none;
}
.site-footer-html #footer-sidebar {
	display: block;
	float: left;
	background-color: #078979;
	position: relative;
	overflow: hidden;
	color: #fff;	
	padding: 1em;
	width: 100%;
}

.site-footer-html #footer-sidebar .widget {
    float: left;
    height: 190px;
    text-align: center;
    font-size: 0.8em;
    margin-top: 1em;
}

.site-footer-html #footer-sidebar aside:nth-child(1) {
	width: 46%;
}

.site-footer-html #footer-sidebar aside:nth-child(2),
.site-footer-html #footer-sidebar aside:nth-child(3) {
	width: 13%;
}
.site-footer-html #footer-sidebar aside:nth-child(4) {
	width: 28%;
}

.site-footer-html #footer-sidebar .widget-title {
	color: #fbed1d;
	font-size: 1.5em;
	text-align: left;
	margin-top: 0;
}

.site-footer-html #footer-sidebar ul {
	padding: 0;
	margin: 0;
}

.site-footer-html #footer-sidebar li {
	list-style: none;
	text-align: left;
}

.site-footer-html #footer-sidebar a {
	text-decoration: none;
	color: #fff;
}

.site-footer-html .site-footer img {
    height: auto;
}

@media screen and (max-width: 800px) {
	
	.site-footer-html #footer-sidebar .widget {
	    height: auto;
	}
	
	.site-footer-html #footer-sidebar aside:nth-child(1) {
		width: 60%;
	}
	
	.site-footer-html #footer-sidebar aside:nth-child(2),
	.site-footer-html #footer-sidebar aside:nth-child(3) {
		width: 20%;
	}
	.site-footer-html #footer-sidebar aside:nth-child(4) {
		width: 100%;
	}
	
	.site-footer-html #footer-sidebar aside:nth-child(4) img {
		width: 40%;
	}
}

@media screen and (max-width: 480px) {
	
	.site-footer-html #footer-sidebar .widget {
	    height: auto;
	}
	
	.site-footer-html #footer-sidebar aside:nth-child(1) {
		width: 100%;
	}
	
	.site-footer-html #footer-sidebar aside:nth-child(2),
	.site-footer-html #footer-sidebar aside:nth-child(3) {
		width: 50%;
	}
	.site-footer-html #footer-sidebar aside:nth-child(4) {
		width: 100%;
	}
	
	.site-footer-html #footer-sidebar aside:nth-child(4) img {
		width: 100%;
	}
	
}