.site-header *, .site-header *::before, .site-header *::after {
    box-sizing: inherit;
}

.site-header,
.site-header button,
.site-header input,
.site-header select,
.site-header textarea {
	color: #404040;
	font-family: DroidSans;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
}

.site-header {
	background-color: #ffffff;
}

.site-header .site-logo {
	width: 172px;
	height: 78px;
}

.site-header .site-logo,
.site-header .site-navigation {
	display: block;
	float: left;
}

.site-header #wrapper-barra-brasil > nav {
    position: relative;
    z-index: 1000;
}

.site-header .site-padding {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960px;
    position: relative;
    overflow: hidden;
}
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.site-header .entry-navigation {
	background-color: #ffffff; 
}

.site-header .main-navigation {
	display: block;
	float: right;
	max-width: 850px
}

header.site-header .main-navigation a {
    color: #000;
}

.site-header .main-navigation li:hover,
.site-header .main-navigation li:hover a {
    color: #c0c0c0;
}

.site-header .main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	float: right;
}

.site-header .main-navigation li {
    float: left;
    padding: 0.75em 0.60em;
    position: relative;
    text-align: center;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    cursor: pointer;
}

.site-header .main-navigation a {
	display: block;
	text-decoration: none;
}

.site-header .main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.site-header .main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.site-header .main-navigation ul ul a {
	width: 200px;
}

.site-header .main-navigation ul ul li {

}

.site-header .main-navigation li:hover > a,
.site-header .main-navigation li.focus > a {
}

.site-header .main-navigation ul ul :hover > a,
.site-header .main-navigation ul ul .focus > a {
}

.site-header .main-navigation ul ul a:hover,
.site-header .main-navigation ul ul a.focus {
}

.site-header .main-navigation ul li:hover > ul,
.site-header .main-navigation ul li.focus > ul {
	left: auto;
}

.site-header .main-navigation ul ul li:hover > ul,
.site-header .main-navigation ul ul li.focus > ul {
	left: 100%;
}

.site-header .main-navigation .current_page_item > a,
.site-header .main-navigation .current-menu-item > a,
.site-header .main-navigation .current_page_ancestor > a {
}

/* Small menu. */
.site-header .menu-toggle,
.site-header .main-navigation.toggled ul {
	display: block;
}

.site-header .main-navigation button.menu-toggle {
    background-color: #fbed1d;
    position: absolute;
    right: 0;
    top: 0;
    color: #078979;
}

.site-header button {
	color: inherit;
	font: inherit;
	margin: 0;
}

.site-header button {
	overflow: visible;
}

.site-header button {
	text-transform: none;
}

.site-header button {
	-webkit-appearance: button;
	cursor: pointer;
}

.site-header button[disabled] {
	cursor: default;
}

.site-header button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.site-header button {
	color: #808080;
	font-family: DroidSans;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

.site-header button {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.site-header button:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

.site-header button:focus,
.site-header button:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 960px) {
	.site-header .menu-toggle {
		display: none;
	}
	.site-header .main-navigation ul {
		display: block;
	}
}

