
/* pager */
.cycle-pager {
    left: 80px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: 160px;
    width: 32%;
    z-index: 500;
}

.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #D69746;}
.cycle-pager > * { cursor: pointer;}

/* prev / next links */
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  }
.cycle-next { right: 0; }

.cycle-prev div,
.cycle-next div
{
    background-color: #d82e5f;
    bottom: 0;
    color: #ffffff;
    height: 43px;
    padding: 0.75em 0.25em 0.5em 1em;
    position: absolute;
    width: 3em;
}

.cycle-next div {
	right: 0;
	padding: 0.75em 0.25em 0.5em 0.75em;
}

.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

.disabled { opacity: .5; filter:alpha(opacity=50); }

.cycle-slideshow {
	height: 290px;
}

.cycles-slide, .slides, .slides article {
    height: 100%;
    width: 100%;
}

ul.slides {
	margin: 0;
}

.slides .bd {
    background-color: #d82e5f;
    bottom: 0;
    height: 110px;
    left: 4em;
    padding: 1em;
    position: absolute;
    width: 32%;
}

.highlights .entry-title > a {
    color: #fff;
    display: block;
    font-size: 0.65em;
    line-height: 1.25em;
    text-decoration: none;
}

.highlights-image {
    background-position: center center;
    background-repeat: no-repeat;
    height: 290px;
	background-size: 100% 100%;
}

.highlights h2.entry-title {
    max-height: 68px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.highlights .entry-summary img {
    max-height: 190px;
}